body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-dark-mode{
  background: #181F29;
}

div, footer, header, menu, nav, hgroup, section{
  display: block;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a, audio, b, blockquote, body, caption, div, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, img, label, legend, li, menu, nav, ol, p, pre, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, u, ul, video {
  font: inherit;
  color: inherit;
}